[submodule "nlp-engine-linux"]
	path = nlp-engine-linux
	url = https://github.com/VisualText/nlp-engine-linux.git
[submodule "nlpfix"]
	path = nlpfix
	url = https://github.com/VisualText/nlpfix.git
[submodule "nlpfix-analyzers"]
	path = nlpfix-analyzers
	url = https://github.com/VisualText/nlpfix-analyzers.git
