body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
.container {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 
      "header header"
      "sidebar info"
      "sidebar main"
      "sequence main"
      "footer footer";
  height: 100%;
}
header {
  grid-area: header;
  background: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
.sidebar {
  grid-area: sidebar;
  color: white;
  background: #414141;
  padding: 10px;
}
.sequence {
  grid-area: sequence;
  background: #414141;
  padding: 10px;
  overflow-y: auto;
}
.info {
  grid-area: info;
  background: #000000;
  padding-left: 10px;
}
.main {
  grid-area: main;
  background: #222222;
  color: white;
  padding: 10px;
  font-size: 12px;
  overflow-x: auto;
  overflow-y: auto;
}
footer {
  grid-area: footer;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.button {
  background-color: #a0a0a0; /* Light blue background */
  border: none;
  color: rgb(0, 0, 0);
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.button:hover {
  background-color: #9de3ff; /* Slightly darker blue on hover */
}

.sublist {
  display: none;
}

p.path {
  color: rgb(255, 254, 197);
  font-style: italic;
  font-size: 0.8em;
}

p.comment {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 0.8em;
}

p.ana-instructions {
  color: #4aca60;
  font-size: 1.3em
}

p.ana-explainer-header {
	color: #ff0033;
	font-weight: bold:
}

ul.analyzer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
li.analyzer-description ananame {
  color: #888fec;
  font-size: 1.3em;
}
li.analyzer-description {
  color: rgb(170, 170, 170);
  margin-bottom: 15px;
}
li.analyzer-description strong {
  color: rgb(167, 236, 128);
  font-weight: bold;
}
li.analyzer-description instructions {
  color: rgb(116, 202, 105);
  font-size: 1.3em;
}

.header-title {
  font-weight: bold;
  color:rgb(253, 255, 147)
}

.header-descr {
  color:rgb(156, 156, 156)
}

div.sidebar p {
  padding: 0!;
  margin-top: 3px;
  margin-bottom: 3px;
}

ul.choose-list {
  margin: -3px 0 10px -20px;
  font-size: 0.9em;
}

div.list-seq {
  background: #414141;
  margin-top: 0;
  padding-top: 0;
}

ul.seq-list {
  margin: 0;
  padding: 0;
}

li.seq-item {
  list-style-type: none;
}

.list-ana {
  color: rgb(228, 245, 130)
}

li.seq-item:hover {
  background-color: #696969;
}

.selected {
  background-color: #696969;
}

li.analyzer-item:hover {
  background-color: hsl(0, 0%, 41%);
}

.title {
  color: rgb(151, 151, 255);
  font-weight: bold;
}

#sequenceTitle {
  margin-bottom: 0;
  padding-bottom: 0;
}

a.seq-item {
  color: rgb(255, 255, 255);
}

a.seq-item-highlight {
  color: rgb(22, 226, 90);
}

/* Tooltip styles */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

#look-here {
  position: fixed;
  top: 33px; /* Adjust as needed */
  left: 47px; /* Adjust as needed */
  width: 157px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it appears on top of other elements */
  display: none;
}

#look-here-left {
  position: fixed;
  top: 450px; /* Adjust as needed */
  left: 160px; /* Adjust as needed */
  width: 157px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it appears on top of other elements */
  display: none;
}

#look-here-up {
  position: fixed;
  top: 138px; /* Adjust as needed */
  left: 5px; /* Adjust as needed */
  width: 200px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it appears on top of other elements */
  display: none;
}