body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 175px 1fr;
  grid-template-areas: 
      "header header"
      "sidebar main"
      "footer footer";
  height: 100%;
}
header {
  grid-area: header;
  background: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
.sidebar {
  grid-area: sidebar;
  color: white;
  background: #414141;
  padding: 10px;
  overflow-y: auto;
}
.main {
  grid-area: main;
  background: #222222;
  color: white;
  padding: 10px;
  font-size: 12px;
  overflow-x: auto;
  overflow-y: auto;
}
footer {
  grid-area: footer;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
@media (max-width: 175px) {
  .container {
      grid-template-rows: auto auto 1fr auto;
      grid-template-columns: 1fr;
      grid-template-areas: 
          "header"
          "sidebar"
          "main"
          "footer";
  }
}

ul.choose-list {
  list-style-type: none;
  padding: 0;
}

li.seq-item {
  list-style-type: none;
}

li.seq-item:hover {
  background-color: #696969;
}

.selected {
  background-color: #696969;
}

li.analyzer-item:hover {
  background-color: hsl(0, 0%, 41%);
}

.title {
  color: rgb(151, 151, 255);
  font-weight: bold;
}

/* Tooltip styles */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}